.submite-request{
    position: relative;
    img{
        border-radius: 12px;
        width: 100%;
        height:45vh;
        object-fit: cover;
        background: #000;
    }
    .submit-text{
        @include abs-position();
        display: flex;
        align-items: center;
    }
}
.list-request{
    position: relative;
    img{
        border-radius: 12px;
        height:45vh;
        object-fit: cover
    }
    .list-text{
        @include abs-position();
        display: flex;
        align-items: center;
    }
}
.list-request input{
    border-radius: $rounded;
}
.photographer-list{
    border-radius: $rounded;
    display: flex;
}
.job-checkbox{
    display: none !important;
}

.filter-box{
    border-radius: $rounded;
    display: none;
    margin-bottom: 16px;
    label{
        border-radius: 14px;
        border: 1px solid #ccc;
        margin-bottom: 10px;
        padding: 8px;
        width: 100%;
    }
    input:checked +label{
            background: $color-primary;
            color: $color-white;
            outline: none;
            border: none;  
    }
  .btn:focus{
      box-shadow: none !important;
  }
}
.photographer-box{
    img{
        width: 90%;
    }
    .resome-box {
       @include border-box;
       border-radius: $rounded;
       padding: 25px;
       margin-top: 64px;

    }
    button{
        border-radius: $rounded;
    
    }
}
.wrapper{
    height: 100vh;
    overflow-y: hidden;
    position: relative;
   
    .last-information-photographer{
        margin-top: 50px;
        border-radius: $rounded $rounded 0 0;
        background: rgb(205,173,246);
        background: -moz-linear-gradient(90deg, rgba(205,173,246,1) 0%, rgba(92,21,186,1) 100%);
        background: -webkit-linear-gradient(90deg, rgba(205,173,246,1) 0%, rgba(92,21,186,1) 100%);
        background: linear-gradient(90deg, rgba(205,173,246,1) 0%, rgba(92,21,186,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cdadf6",endColorstr="#5c15ba",GradientType=1);
        position: relative;
        height: 100vh;
        margin-top: 132px;
    .photographer-img {
        width: 100%;
        display: flex;
        justify-content: center;
        position: absolute;
        top: -22%;
        img{
            width: 60%;
        } 
    }
    label{
        color: $color-white;
        font-size: 18px;
    }
    input{
        border-radius: 4px;
        outline: none;
        border: none;
        padding: 8px;
        cursor: pointer;
        font-family: "IranSans";
        color: rgb(77, 77, 77);
        font-weight: 400;
    }
    }
}


.mbsc-page {
    padding: 1em;
    min-height: 0 !important;
}
.mbsc-ios.mbsc-page{
    background: none !important
}